# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# Node dependencies
**/node_modules/
node_modules/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Environment secrets & credentials
.env
.env.*
.envrc
secrets.json
service-account*.json
firebase-adminsdk*.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Gradle files
.gradle/
android/local.properties
android/key.properties
android/app/src/main/assets/google-services.json

# Keys, Certificates and Keystores
*.jks
*.keystore
*.pem
*.p12
*.key
google-services.json
GoogleService-Info.plist

# iOS build and dependency directories
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/derived_data/
*/.xcode_backend_sh_state
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# CocoaPods lock files
Podfile.lock
